
<h3>@ViewBag.Message</h3>

<h6>
    We proudly present to you our highly qualified dental surgeons, Alan and Jane. Both Alan and Jane have extensive experience in various fields of dentistry.
    Read on to get to know more about our dedicated team.
</h6>

<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5">
        <h4>Dr Alan Melrose</h4>
        <img srcset="~/Image/alan_320px.jpg 320w, ~/Image/alan_640px.jpg 640w"
             sizes="(max_width: 766px) 320px, 640px"
             src="~/Image/alan_320px.jpg" alt="Alan Melrose">
        <p>Alan graduated in 2000 with a Bachelor of Dental Surgery at the University of Melbourne. He has rich experience in dental implant an cosmetic dentistry.</p>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2"></div>

    <div class="col-lg-5 col-md-5 col-sm-5">
        <h4>Dr Jane Melrose</h4>
        <img srcset="~/Image/jane_320px.jpg 320w, ~/Image/jane_640px.jpg 640w"
             sizes="(max_width: 766px) 320px, 640px"
             src="~/Image/jane_320px.jpg" alt="Jane Melrose">
        <p>Jane graduated in 2005 with a Bachelor of Dental Surgery from Monash University. She has over 15 years of experience as a dentist.</p>
    </div>
</div>
