
<h3>@ViewBag.Message</h3>

<address>
    <strong style="font-size:large">Ear2Ear Dentistry</strong><br />
    77 Monash Street<br />
    Clayton, VIC<br />
    <abbr title="Phone">P:</abbr>
    03 1234 5678
</address>

<address>
    <strong>Enquiry:</strong>   <a href="mailto:4dm1n.ear2ear@gmail.com">4dm1n.ear2ear@gmail.com</a>
</address>