@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ear2Ear Dentistry</h1>
    <p class="lead">
        At Ear2Ear Dentistry, we offer a great variety of services, including general dental
        care and cosmetic dentistry. Please take a look at the services we provide and we are
        sure that our professional team will be able to help. Book an appointment we us. Just 
        a couple of easy steps away and we will be ready to serve you!
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Team</h2>
        <p>
            Come in and let us introduce to you our friendly professional team.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44385/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Services</h2>
        <p>We offer a wide variety of services. You would be able to find ones that suit your needs.</p>
        <p><a class="btn btn-default" href="https://localhost:44385/Home/Services">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Talk to us. We will try our very best to make you smile again!</p>
        <p><a class="btn btn-default" href="https://localhost:44385/Home/Contact">Learn more &raquo;</a></p>
    </div>
</div>