
<h3>@ViewBag.Message</h3>

<h6>
    Services we offer at Ear2Ear Dentistry:
</h6>

<div class="row">
    <h4>General Dental Care</h4>
    <img srcset="~/Image/generalcare_320px.jpg 320w, ~/Image/generalcare_640px.jpg 640w"
         sizes="(max_width: 766px) 320px, 640px"
         src="~/Image/generalcare_640px.jpg" alt="General Dental Care">
    <p>Our general dental care program has been offered since establishment. Each of our 
    specially trained surgeon takes thorough care of your whole health to keep you always
    smiling.</p>
</div>

<div class="row-border"></div>

<div class="row">
    <h4>Dental Implant</h4>
    <img srcset="~/Image/implant_320px.jpg 320w, ~/Image/implant_640px.jpg 640w"
         sizes="(max_width: 766px) 320px, 640px"
         src="~/Image/implant_640px.jpg" alt="Dental Implant">
    <p>Dental implant treatment starts with an X-ray. The treatment generally involves a 
    minor procedure that can be completed within the day.</p>
</div>

<div class="row-border"></div>

<div class="row">
    <h4>Braces</h4>
    <img srcset="~/Image/braces_320px.jpg 320w, ~/Image/braces_640px.jpg 640w"
         sizes="(max_width: 766px) 320px, 640px"
         src="~/Image/braces_640px.jpg" alt="Braces">
    <p>Fixed braces provide a solution to disaligned teeth, improving not only the aesthetics 
    of your teeth but also the functional aspect of them.</p>
</div>